doctype html
html
    head(lang = "en")
        title Headline News | Home
        link(rel = "stylesheet", href="/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster")
        link(rel = "stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
        script(src="/mainjs.js")
        script(src="https://use.fontawesome.com/46f472fe73.js")
        meta(charset = "utf-8")
        meta(name ="viewport", content = "width= device-width, initial-scale = 1.0")
    
    body
        mixin display(href, word)
                each images in href
                    -var d = new Date();
                    -var today = d.toLocaleDateString();
                    if images.imagestatus && today == images.postdate
                            img.materialboxed.responsive-img#imagestatus.center-align(src =images.imagestatus width = "50%"  height = "auto" style = "display:inline")
        header#header.h1.black-text(style="font-family:Lobster") The
            span#headline  Headline 
            span#news  News
        ul.side-nav(id = "slide-out")
            li 
                div.user-view(style="height:280px")
                    div.background
                        img.responsive-img(src="http://www.imagesbuddy.com/images/53/2013/06/good-morning-tea-newspaper-graphic.jpg" height="100%")
            li
                a(href = "/home") HOME
            li
                a(href = "/orderNow") ORDER
            li
                a(href = "/iwitness") EYE WITNESS
            li
                +display(headlines, "Hello world")
        a.pulse.button-collapse(href = "#" data-activates = "slide-out")
            i.material-icons menu
        nav(class="nav-extended")
            div(class="nav-wrapper")
                a( class="brand-logo") Home
            div(class="nav-content")
                ul(class="tabs tabs-transparent")
                    li(class="tab")
                        a(href="#test1") Politics
                    li(class="tab")
                        a(class="active" href="#test2") Technology
                    li(class="tab")
                        a(href="#test3") Sports
                    li(class="tab")
                        a(href="#test4") Entertainment
        each item in headlines
            div.container
                -var d = new Date();
                -var today = d.toLocaleDateString();
                if item.category =="Politics" && today == item.postdate 
                    div.cat.h5(id="test1" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
                else if  item.category =="Politics" && today != item.postdate
                    div.cat.h5(id="test1" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
                if item.category == "Technology" && today == item.postdate
                    div.cat.h5(id="test2" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
                else if item.category == "Technology" && today != item.postdate
                    div.cat.h5(id="test2" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
                if item.category == "Sports" && today == item.postdate
                    div.cat.h5(id="test3" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
                else if item.category == "Sports" && today != item.postdate
                    div.cat.h5(id="test3" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
                if item.category == "Entertainment" && today == item.postdate
                    div.cat.h5(id="test4" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
                else if item.category == "Sports" && today  != item.postdate
                    div.cat.h5(id="test4" class="col s12") #{item.news} | #{item.paperpage} | #{item.papername}
        div(class="slider")
            ul(class="slides")
                each img in worldNews
                    -var d = new Date();
                    -var today = d.toLocaleDateString();
                    if today == img.postdate
                        li
                            img.responsive-img(src=img.images)
                            div(class="caption left-align")
                                h3 #{img.worldnews}
                                h5.black(class="light grey-text text-lighten-3") #World News
                    if img.postdate != today
                        li
                            img.responsive-img()
                            div(class="caption left-align") 
                                h3
                                h5.black(class="light grey-text text-lighten-3") Todays World News not posted yet Please check back later
            
        .row
            .col.m4.l4
                form()
                    .row.input-field.col.s12
                        input(placeholder = "Enter to search " id = "search" type = "text" class ="validate" name = "search")
                        label.h3(for = "search") search
                        button.btn.waves-effect.waves-light(type = "submit") Submit
            .col.m4.l4
                form(method = "get" action = "/filter") 
                    .row.input-field.col.s12
                        select(name ="paper" value = "" selected) Choose a paper to filter
                            option.circle.left(data-icon ="http://scannewsnigeria.com/wp-content/uploads/2016/08/vanguard.png" value = "Vanguard") Vanguard
                            option.circle.left(data-icon="http://www.nigerreporters.com/wp-content/themes/_advanced-newspaper/timthumb.php?src=http://www.nigerreporters.com/wp-content/uploads/2013/12/Sun-.-the-sunnews-logo.jpg&q=90&w=479&zc=1" value = "Sun") Sun
                            option.circle.left(data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/The_Guardian.svg/2000px-The_Guardian.svg.png" value = "Guardian") Guardian
                            option.circle.left(data-icon="http://pkembassy.or.kr/wp-content/uploads/2016/02/site_logo.png" value = "Daily Times") Daily Times
                            option.circle.left(data-icon ="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2017/06/02/11/independent-logo-eagle.png" value = "Independent") Independent
                            option(value = "Complete Sports") Complete Sports
                            option(value = "Daily Post") Daily Post 
                            option(value = "This Day") This Day
                            option(value = "Business Day") Business Day
                        label.h3 Filter By
                        button.btn.waves-effect.waves-light(type = "submit") Submit
                            


        .parallax-container
            .parallax
                img(src = "http://c7.alamy.com/comp/BBBBC5/newspaper-stand-BBBBC5.jpg")
        div.wrapper
            #headline.headline.h2.center-align 
                span.headlines HEADLINES
                form(method = "get" action = "/date")
                        .row.input-field.col.s12
                            input( id = "date" type = "date"  name = "date")
                            button.btn.waves-effect.waves-light(type = "submit") Go to
                                
                hr
                audio.responsive-audio(controls)
                    each audio in audios
                        -var d = new Date();
                        -var today = d.toLocaleDateString();
                        if today == audio.postdate
                            source(src = audio.audioname type="audio/mp3")
                ul#li
                    each val in headlines
                            blockquote.jumbo.animation_elements
                                h2
                                    li.news.up #{val.news}
                                div.h5
                                    p  Paper: #{val.papername}
                                    p  Page Found: #{val.paperpage}
                                    p  Category: #{val.category}
                                    hr
                nav.white(aria-label="...")
                    ul.pagination
                        each page in pages
                            li.page-item
                                a.page-link(href = page) #{page}
                        
                        



        .parallax-container
            .parallax
                img(src = "http://c7.alamy.com/comp/BBBBC5/newspaper-stand-BBBBC5.jpg")
        footer.page-footer
            h5.h1.center-align Contact us
            ul.center-align
                li.footer.h4 Worisjakes@gmail.com
                li.footer.h4 09076621816
            .footer-copyright
                .container    &copy; Headline News
        div.fixed-bottom.black
            .row.white
                .col.s3.m3.blue
                    .a.btn.btn-large.h5.blue(href="http://www.facebook.com" style = "background-color:#3b5998") 
                        i.fa.fa-facebook-official(aria-hidden = true)
                .col.s3.m3.light.blue.lighten-3
                    .a.btn.btn-large.h5(href="www.facebook.com" style = "background-color:#00aced")
                        i.fa.fa-twitter-square(aria-hidden = true style = "background-color:#00aced")
                .col.s3.m3.red
                    .a.btn.btn-large.h5.red(href="www.facebook.com")
                        i.fa.fa-youtube-square(aria-hidden = true)
                .col.s3.m3.purple.lighten-2
                    .a.btn.btn-large.h5(href="www.facebook.com" style = "background-color:#bc2a8d")
                        i.fa.fa-instagram(aria-hidden = true)